# Paperless
NUXT_PUBLIC_SEARCH_PLUGIN_PAPERLESS_NGX_ENABLED=true
NUXT_PUBLIC_SEARCH_PLUGIN_PAPERLESS_NGX_WEIGHT=0 # Optional
NUXT_SEARCH_PAPERLESS_NGX_API_URL=https://paperless.example.com
NUXT_SEARCH_PAPERLESS_NGX_API_TOKEN=

# Mealie Configuration
NUXT_PUBLIC_SEARCH_PLUGIN_MEALIE_ENABLED=true
NUXT_PUBLIC_SEARCH_PLUGIN_MEALIE_WEIGHT=0 # Optional
NUXT_SEARCH_MEALIE_API_URL=https://mealie.example.com
NUXT_SEARCH_MEALIE_API_TOKEN=

# Karakeep Configuration
NUXT_PUBLIC_SEARCH_PLUGIN_KARAKEEP_ENABLED=true
NUXT_PUBLIC_SEARCH_PLUGIN_KARAKEEP_WEIGHT=0 # Optional
NUXT_SEARCH_KARAKEEP_API_URL=https://karakeep.example.com
NUXT_SEARCH_KARAKEEP_API_TOKEN=

# Gitea Configuration
NUXT_PUBLIC_SEARCH_PLUGIN_GITEA_ENABLED=true
NUXT_PUBLIC_SEARCH_PLUGIN_GITEA_WEIGHT=0 # Optional
NUXT_SEARCH_GITEA_API_URL=https://gitea.example.com
NUXT_SEARCH_GITEA_API_TOKEN=

# Jellyfin Configuration
NUXT_PUBLIC_SEARCH_PLUGIN_JELLYFIN_ENABLED=true
NUXT_PUBLIC_SEARCH_PLUGIN_JELLYFIN_WEIGHT=0 # Optional
NUXT_SEARCH_JELLYFIN_API_URL=https://jellyfin.example.com
NUXT_SEARCH_JELLYFIN_API_TOKEN=

# Notion Configuration
NUXT_PUBLIC_SEARCH_PLUGIN_NOTION_ENABLED=true
NUXT_PUBLIC_SEARCH_PLUGIN_NOTION_WEIGHT=0 # Optional
NUXT_SEARCH_NOTION_API_TOKEN=

# Custom API Configuration
# NUXT_PUBLIC_SEARCH_PLUGIN_CUSTOM_ENABLED=true
# NUXT_PUBLIC_SEARCH_PLUGIN_CUSTOM_WEIGHT=0 # Optional
# NUXT_SEARCH_CUSTOM_API_URL=
# NUXT_SEARCH_CUSTOM_API_TOKEN=
# NUXT_SEARCH_CUSTOM_API_HEADER=Authorization

# Optional: Oauth2 Configuration
NUXT_PUBLIC_USE_OAUTH=true # optional: disable for no auth
NUXT_PUBLIC_USE_OAUTH_PROVIDER_NAME=authentik
NUXT_SESSION_PASSWORD=<rand-32chars>
NUXT_OAUTH_AUTHENTIK_DOMAIN=auth.example.com
NUXT_OAUTH_AUTHENTIK_CLIENT_ID=homelense
NUXT_OAUTH_AUTHENTIK_CLIENT_SECRET=
